.k-block, .k-widget {
    border-color: #cac9c9;
}

.k-edit-form-container {
    width: 99%;
}

.k-dropdown .k-dropdown-wrap {
    /*width: 100% !important;*/
    height: 30px !important;
    border: 1px solid #ccc !important;
}

.k-list-container {
    width: 36% !important;
    border: 1px solid #ccc !important;
}

.k-grid-header .k-header .k-link, .k-grid-header .k-header, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-header, .k-scheduler-agendaview .k-scheduler-datecolumn {
    background-color: steelblue;
    color: white;
}

.k-window-content {
    overflow: hidden !important;
}

.k-grid .k-state-selected {
    background-color: lightgrey !important;
    color: darkred !important;
}

.k-i-search {
    font-size: 20px;
}

.hospid-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 5px;
    border: 1px solid rgba(180,180,180,1);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #5892a0;
    -webkit-box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4);
    box-shadow: 4px 4px 6px 1px rgba(0,0,0,0.4);
    /*display: inline;
            float: left;*/
    /*padding-right:5px;*/
}

.k-listbox .k-list-scroller {
    overflow-x: hidden;
    border-color: #cac9c9;
}